html{
    font-family: Verdana;
    max-width: 1440px;
    margin: auto;
}

body{
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: auto
}

.line{
    border: 1px solid #D7D7D7;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
