
.howBoplatsWorks{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 200px;
    max-width: 1200px;
    flex-wrap: wrap;
}

.hbwImage{
    max-width: 100%;
    height: auto;
}

.hbwImage2{
    max-width: 100%;
    height: auto;
}

.hbwImageSS{
    display: none;
}

.flexBoxHDBWillustrations{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    max-width: 370px;
    width: 100%;
    align-items: center;
}

.illustrationHeader{
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    color: #1B1B1B;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.illustrationBodyText{
    font-family: Verdana;
    font-size: 16px;
    color: #444444;
    line-height: 21px;
    text-align: center;
    max-width: 341px;
    margin-top: 12px;
    margin-bottom: 0px;
    margin-bottom: 44px;
}

@media only screen and (max-width: 639px){

    .hbwImage{
        max-width: 100%;
        height: auto;
        max-height: 175px;
    }

    .illustrationBodyText{
        margin-bottom: 50px;
    }

    .illustrationHeader{
        margin-top: 8px;
    }

    .howBoplatsWorks{
        margin-bottom: 60px;
    }

    .howBoplatsWorks{
        justify-content: center;
    }

}

@media only screen and (max-width: 768px){

    .hbwImage{
        display: none;
    }

    .hbwImage2{
        display: flex;
        max-width: 100%;
        height: auto;
        max-height: 175px;
    }

    .illustrationBodyText{
        margin-bottom: 50px;
        font-size: 14px;
        line-height: 19px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 300px;
        width: 100%;
        margin-top: 8px;
    }

    .illustrationHeader{
        margin-top: 12px;
        font-size: 18px;
    }

    .howBoplatsWorks{
        margin-bottom: 60px;
    }

    .howBoplatsWorks{
        justify-content: center;
    }

    .flexBoxHDBWillustrations{
        max-width: 350px;
    }

    .hbwImageSS{
        display: flex;
        max-width: 100%;
        height: auto;
        max-height: 175px;
    }

}

