.header{
    display: flex;
    flex-direction: row;
    position: sticky relative;
    z-index: 10;
    background-color: white;
    border-bottom: 3px solid #e01171;
    position: fixed;
    border-width: 3px;
    align-items: center;
    height: 66px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #e01171;
    justify-content: space-between;
    top: 0px;
    margin-left:auto;
    margin-right: auto;
    width: 100vw;
    justify-content: space-around;
}

.wrapperHeader{
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
}

.headerPart1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.logo{
    padding-left: 20px;
    max-height: 28px;
    align-self: center;
}


.headerTextHolder{
    display: inline-block;
    white-space: nowrap;
    justify-content: space-between;
    max-width: 616px;
}

.headerText{
    font-size: 14px;
    color: #444444;
    float: left;
    padding: 0 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.headerLoginText{
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    color: #E01171;
    letter-spacing: 2px;
    text-align: right;
    padding-left: 14px;
    padding-right: 20px;
    white-space: nowrap;
    cursor: pointer;
}

.createAccount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerCreateAccount{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 40px;
    white-space: nowrap;
    cursor: pointer;
}

.hamburgerMenu{
    display: none;
}

@media only screen and (max-width: 1130px){

    .header{
        height: 100%;
        max-height: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        left: 0;
        right: 0;
    }

    .logo{
        padding-left: 20px;
        max-height: 20px;
        height: 100%;
    }

    .headerPart1{
        justify-content: flex-start;
    }

    .headerTextHolder{
        display: none;
    }
    
    .headerText{
        display: none;
    }
    
    .headerLoginText{
        display: none;
    }
    
    .createAccount{
        display: none;
    }
    
    .headerCreateAccount{
        display: none;
    }

    .hamburgerMenu{
        display: flex;
        padding-right: 20px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -1px;
        background-color: #59097B;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 12px 8px 12px 32px;
        text-decoration: none;
        font-size: 18px;
        color: white;
        display: block;
        transition: 0.3s;
        white-space: nowrap;
    }

    .sidenav .closebtn {
        position: absolute;
        right: 17px;
        top: 0px;
    }

    .spanHM{
        font-size:30px;
        cursor:pointer;
    }

    .hamburgerMenuDiv{
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background: #cdcdcd;
        border-radius: 3px;
    }

    .hamburgerFlex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 22px;
    }

    .hamburgerDesign{
        background-color: #e01171;
        width: 30px;
        border-radius: 10px;
        height: 4px;
    }
    
}

@media only screen and (max-width: 1130px) and (min-width: 769px){
    
    .headerText{
        display: flex;
    }

    #noWrap{
        width: 543px;
        margin-left: auto;
        margin-right: auto;
    }
}

