html{
    font-family: Verdana;
    max-width: 1440px;
    margin: auto;
}

.header{
    position: sticky relative;
    z-index: 10;
    background-color: white;
    border-bottom: 3px solid #e01171;
    position: fixed;
    border-width: 3px;
    align-items: center;
    height: 91;
    display: flex;
    height: 91px;
    border-bottom: 3px solid #e01171;
    justify-content: space-between;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: 1440px;
    margin:auto;
}

.headerLogo{
    float: left;
}

.headerTextHolder{
    justify-content: space-between;
    margin:auto;
    flex-wrap: nowrap;
    float: left;
}

.headerText{
    font-size: 16px;
    color: #444444;
    float: left;
    padding: 0 10px;
}

.headerLoginText{
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #E01171;
    letter-spacing: 2px;
    text-align: right;
    padding-left: 14px;
}

.headerCreateAccount{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
}

body{
    justify-content: center;
}

.clouds{
    padding-top: 130px;
    width: 100%;
    align-content: center;
}

.mainFunctionBox{
    background: #E01171;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.15);
    border-radius: 6px;
    margin: auto;
    margin-top: -120px;
    padding-top: 44px;
    padding-bottom: 44px;
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 880px;
    max-height: 382px;
}

.mainFunctionTitle1{
    font-family: Verdana-Bold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 12px;
    max-width: 776px;
    max-height: 166px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    }
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }

.gridHeader{
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: justify;
    margin:0;
}

.dropbtn {
    background-color: white;
    color: black;
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    width:372px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    margin-top: 8px;
    font-size: 14px;
    color: #444444;
    text-align: justify;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownText{
    font-family: Verdana;
    font-size: 14px;
    color: #444444;
    text-align: justify;
    font-weight: normal;
}  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    width:372px;
    position: absolute;
    z-index: 1;
    max-height:200px; 
    overflow-y :auto; 
    overflow-x:hidden;
    font-size: 14px;
    color: #444444;
    text-align: justify;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

.dropbtn2 {
    background-color: #F9F9F9;
    color: black;
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    width:180px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 3px;
    font-size: 14px;
    color: #444444;
    text-align: justify;
    margin-right: 0px;
}
  
.dropdown2 {
    position: relative;
    display: inline-block;
    width:180px;
}
  
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    overflow: auto;
    width:180px;
    position: absolute;
    z-index: 1;
    max-height:200px; 
    overflow-y :auto; 
    overflow-x:hidden;
}

  
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown2 a:hover {background-color: #ddd;}
  
.show {display: block;}


.mainFunctionSearchButton{
    display: block;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background: #59097B;
    border-radius: 4px;
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
}

.houseIllustration{
    width: 100%;
    margin-top: 69px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1440px;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4);
    grid-column-gap: 87px;
    grid-row-gap: 0px;
    margin-top: 100px;
    max-width: 1200px;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-auto-rows: auto;
}
    
.div1b { grid-area: 1 / 1 / 2 / 2; }
.div2b { grid-area: 1 / 2 / 2 / 3; }
.div3b { grid-area: 1 / 3 / 2 / 4; }
.div4b { grid-area: 2 / 1 / 3 / 2; }
.div5b { grid-area: 2 / 2 / 3 / 3; }
.div6b { grid-area: 2 / 3 / 3 / 4; }
.div7b { grid-area: 3 / 1 / 4 / 2; }
.div8b { grid-area: 3 / 2 / 4 / 3; }
.div9b { grid-area: 3 / 3 / 4 / 4; }
.div10b { grid-area: 4 / 1 / 5 / 2; }
.div11b { grid-area: 4 / 2 / 5 / 3; }
.div12b { grid-area: 4 / 3 / 5 / 4; }

.grid2Header{
    font-family: Verdana-Bold;
    font-size: 20px;
    color: #444444;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 0px;
}

.grid2BodyText{
    font-family: Verdana;
    font-size: 14px;
    color: #444444;
    text-align: center;
    line-height: 22px;
    margin-top: 16px;
}

.pinkButton{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    margin-top:16px;
}
