html{
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color: white;
    border-bottom-color: #e01171;
    border-bottom-width: 100%;
    width: 100%;
    position: fixed;
    border-width: 3px;
}

.headerLogo{
    padding-left: 120px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-right: 80px;
    float: left;
}

.headerTextHolder{
    padding-top: 33px;
    padding-bottom: 39px;
    padding-right: 71px;
    float: left;
}

.headerText{
    font-size: 16px;
    color: #444444;
    justify-content: space-between;
}

