
.threeIconsflexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    max-height: 912px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.threeIconsFlexContent{
    display: flex;
    flex-direction: column;
    max-width: 370px;
    max-height: 444px;
    justify-content: center;
    align-items: center;
}

.icons{
    max-width: 100%;
    height: auto;
}

.grid2Header{
    font-family: Verdana-Bold;
    font-size: 20px;
    color: #444444;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 0px;
}

.grid2BodyText{
    font-family: Verdana;
    font-size: 14px;
    color: #444444;
    text-align: center;
    line-height: 22px;
    margin-top: 16px;
}

.pinkButton{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    margin-top:16px;
}

.pinkButton2{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    max-width: 141px;
    margin-top: 40px;
}

@media only screen and (max-width: 639px){
    .threeIconsflexbox{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 345px;
        width: 100%;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .threeIconsFlexContent{
        max-width: 345px;
    }
    .icons{
        max-width: 100px;
        height: auto;
        margin-top: 40px;
    }

    .grid2Header{
        margin-top: 12px;
    }

    .grid2BodyText{
        margin-bottom: 0px;
    }

    .pinkButton{
        margin-top: 20px;
    }

    .pinkButton2{
        margin-top: 20px;
    }
}


