.mobileAd{
    display: none;
}

#smallAd{
    display: none;
}

#mediumAd{
    display: none;
}

#largeAd{
    display: none;
}

.aboveFold{
    height: 100vh;
}

.smallClouds{
    display: none;
}

.mainFunctionBox{
    background: #E01171;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.15);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    text-align: center;
    max-width: 880px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 56px;
    padding-right: 56px;
    margin-bottom: 0px;

}

.kommun{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.mainFunctionContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 776px;
}

.chevron{
    position: absolute;
    right: 15px;
    top: 32px;
}

.hyra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.hyraB{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 372px;
}

.rum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.rumB{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.boarea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.boareaB{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.mainFunctionTitle1{
    font-family: Verdana;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.gridHeader{
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: justify;
    margin: 0;
}

.gridHeaderRow2{
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    text-align: justify;
    margin: 0;
    margin-top: 12px;
}

.mainFunctionRow1{
    display: flex;
    flex-direction:column;
    margin-right: 32px;
}

.mainFunctionRow2{
    display: flex;
    flex-direction:column;
}

.dropbtn {
    background-color: white;
    width: 100%;
    height: 50px;
    color: black;
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    margin-top: 8px;
    color: #444444;
    text-align: justify;
    cursor:pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownText{
    font-family: Verdana;
    font-size: 14px;
    color: #444444;
    text-align: justify;
    font-weight: normal;
    cursor:pointer;
}  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto;
    width:368px;
    position: absolute;
    z-index: 1;
    max-height:200px; 
    overflow-y :auto; 
    overflow-x:hidden;
    font-size: 14px;
    color: #444444;
    text-align: justify;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.15);
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-active{
    display: none;
    overflow: auto;
    width:372px;
    z-index: 1;
    max-height:200px; 
    overflow-y :auto; 
    overflow-x:hidden;
    font-size: 14px;
    color: #444444;
    text-align: justify;
    background-color: #F7C3DB;
}

.dropdown a:hover {background-color: #F7C3DB;}
.show {display: block;}

.dropbtn2 {
    background-color: #F9F9F9;
    color: black;
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 50px;
    width: 100%;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    margin-top: 8px;
    margin-right: 3px;
    color: #444444;
    text-align: justify;
    margin-right: 0px;
}

  
.dropdown2 {
    position: relative;
    display: inline-block;
    width:180px;
}
  
.dropdown2b {
    position: relative;
    display: inline-block;
    width:180px;
    margin-left: 8px
}
  
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color:white;
    overflow: auto;
    width:180px;
    position: absolute;
    z-index: 1;
    max-height:200px; 
    overflow-y :auto; 
    overflow-x:hidden;
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.15);
}

  
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown2 a:hover {background-color: #F7C3DB;}
  
.show {display: block;}


.mainFunctionSearchButton{
    display: block;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background: #59097B;
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: none;
    cursor:pointer;
}

.houseIllustration{
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1200px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.houseIllustrationSS{
   display: none;
}

.houseAndCom{
    display: flex;
    flex-direction: column;
}

.fullScreen{
    min-height: 100vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../Assests/Images/cloud-illustration.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: space-between;
    align-items: center;
    background-position-y: 4%;
}

.dummy{
    visibility: hidden;
}

.flexendDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.flexendDiv2{
    display: none;
}

.commercialSpace{
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 145px;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    background-image: url("../Assests/Images/commercial-holder.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
}

.commercialSpaceRow2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.commercial1{
    width: 470px;
    height: 64px;
    background-color: #C3C3C3;
    background-image: url("../Assests/Images/commercial-1.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
}

.commercial2{
    width: 470px;
    height: 64px;
    background-color: #C3C3C3;
    background-image: url("../Assests/Images/commercial-2.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
}

.commercial3{
    width: 470px;
    height: 64px;
    background-color: #C3C3C3;
    background-image: url("../Assests/Images/commercial-3.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor:pointer;
}

.house1100{
    display: none;
}

@media only screen and (max-width: 766px){
    
    .mainFunctionBox{
        width: 100%;
        max-width: 320px;
        display: flex;
        margin-top: auto;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        z-index: 8;
        text-align: center;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        transform: none;
        margin-top: 4px;
    }

    .mainFunctionContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 305px;
    }

    .mainFunctionSearchButton{
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        background: #59097B;
        border-radius: 4px;
        font-family: Verdana;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 2px;
        line-height: 16px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 16px;
        padding-bottom: 16px;
        border: none;
    }

    .clouds{
        display: none;
    }
    
    .smallClouds{
        display: block;
        padding-top: 4px;
        width: 100%;
        align-content: center;
    }

    .mainFunctionContent{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 305px;
    }

    .dropbtn {
        max-width: 305px;
        padding-left: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 40px;
        margin-top: 4px;
        font-size: 14px;
        text-align: left;
    }
    
    .dropdown-content {
        width: 240px;
        max-height:200px;
    }

    .dropdown-content-active{
        width: 255px;
        max-height:150px;
        background-image: none;
        background-color: #F7C3DB;
    }
    
    .hyra{
        max-width: 305px;
    }
    .rum{
        max-width: 305px;
    }
    .boarea{
        max-width: 305px;
    }
    
    .dropbtn2 {
        padding-left: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        max-width: 150px;
        width: 100%;
        margin-top: 4px;
        margin-right: 3px;
    }
      
    .dropdown2 {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content2 {
        max-width: 116px;
        width: 100%;
        max-height:150px;
    }

    .dropdown-content2 a {
        width: 100%;
        max-width: 124px;
    }

    .mainFunctionTitle1{
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 20px;
        margin-bottom: 14px;
    }

    .chevron{
        position: absolute;
        right: 10px;
        top: 24px;
    }

    .houseIllustration{
        display: none;
    }

    .houseIllustrationSS{
        display: flex;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .gridHeader{
        font-family: Verdana;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        text-align: justify;
        margin-top: 6px;
    }

    .mobileAd{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        height: 54px;
        justify-content: center;
        align-items: center;
        margin-top: 68px;
        width: 100%;
        background-color: #C3C3C3;
        width: 324px;
    }

    .mobileAdHolder{
        background: url("../assests/images/commercial-holder-2.svg");
        background-repeat: no-repeat;
        background-position-x: center;
    }

    .mainFunctionRow1{
        margin-right: 0px;
    }

    .fullScreen{
        background-image: none;
        background-image: url("../Assests/Images/cloud-illustration-small-screen.svg");
        background-repeat: no-repeat;
        background-size: 90%;
        background-position-y: 0;
        background-position-x: center;
        min-height: 50vh;
        margin-top: 10px;
    } 

    .house1100{
        display: none;
    }

    .flexendDiv{
        display: none;
    }

    .dummy{
        display: none;
    }

    #smallAd{
        display: flex;
        max-height: 50px;
    }
}


@media only screen and (max-width: 1130px) and (min-width: 767px){

    .fullScreen{
        height: none;
        min-height: 95vh;
        margin-top: 0;
        background-position-y: 14%;
    }

    .houseIllustrationSS{
        display: none;
    }

    .houseIllustration{
        display: flex;
        margin-top: 40px;
    }

    .mainFunctionBox{
        margin-bottom: 0px;
        padding-left: 44px;
        padding-right: 44px;
        margin-top: 2%;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .mainFunctionRow1{
        margin-right: 20px;
        max-width: 320px;
    }

    .mainFunctionRow2{
        max-width: 320px;
    }

    .commercialSpace{
        display: none;
    }

    .flexendDiv{
        display: none;
    }

    .flexendDiv2{
        display: flex;
        flex-direction: column;
        background-image: url("../Assests/Images/commercial-holder-2.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .houseIllustration{
        display: none;
    }

    .house1100{
        display: flex;
        max-width: 100vw;
    }

    .commercialSpace2{
        align-self: center;
        margin-bottom: 4px;
        margin-top: 12px;
    }

    .commercialSpaceRow2{
        flex-direction: column;
    }

    .commercial1{
        display: none;
    }

    .commercial2{
        margin-bottom: 8px;
    }

    .mobileAd{
        display: none;
    }

    .dropdown-content {
        width:320px;
    }

    .dropdown-content2 {
        width: 156px;
    }

}

