
.footer{
    background: #AB0E86;
    box-shadow: 0 0 7px 2px rgba(102,153,204,0.26);
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0;
}

.footerDesign{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    padding-top: 80px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.flexBoxFooterPart1{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.flexBoxFooterPart2{
    display: flex;
    flex-direction: column;
}

.footerHeader{
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom : 8px;
}

.footerHeader2{
    font-family: Verdana;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom : 8px;
}


.footerBodyText{
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
    margin-bottom: 8px;
    margin-top: 0px;
    cursor: pointer;
}

.footerBodyText2{
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
    align-self: center;
    cursor: pointer;
}

.footerBodyText3{
    font-family: Verdana;
    font-size: 10px;
    color: #FFFFFF;
    align-self: left;
}

.footerBodyText3b{
    font-family: Verdana;
    font-size: 10px;
    color: #FFFFFF;
    align-self: left;
    text-align: end;
}

.footerBodyText4{
    font-family: Verdana;
    font-size: 12px;
    color: #FFFFFF;
    align-self: left;
    cursor: pointer;
}

.footerTextHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.followBoplats{
    display: flex;
    flex-direction: row;
}

.footerIllustration{
    margin-top: 40px;
    max-width: 250px;
}

.instagram{
    display: flex;
    flex-direction: row;
}

.facebook{
    display: flex;
    flex-direction: row;
}

.footerSocials{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
    height: 140px;
    cursor: pointer;
}

.footerSocials2{
    display: none;
}

.footerIllustrationDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;
    max-width: 1200px;
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.footerHouses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerInfo{
    align-self: flex-end;
    margin-bottom: 20px;
}

.footerSocialRow{
    display: flex;
    flex-direction: row;
}

.footerSocialIcon{
    padding-right: 8px;
}

.footerIcons{
    display: none;
}

a:link {
    text-decoration: none;
}
  
a:visited {
text-decoration: none;
}
  
a:hover {
text-decoration: none;
}
  
a:active {
text-decoration: none;
}

.footerSocials3{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 839px){

    .footerDesign{
        justify-content: space-around;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        bottom: 0px;
        max-height: 400px;
        flex-wrap: wrap;
    }
    
    .flexBoxFooterPart1{
        display: flex;
        margin-bottom: 20px;
    }
    
    .flexBoxFooterPart2{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        max-width: 250px;
    }
    
    .footerHeader{
        font-family: Verdana;
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 0px;
        margin-bottom : 8px;
    }
    
    .footerTextHolder{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .followBoplats{
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
    }

    .footerIllustration{
        margin-top: 20px;
        max-width: 200px;
    }

    .footerHeader2{
        display: none;
    }

    .footerSocials2{
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-direction: column;
    }

    .footerIcons{
        display: none;
    }

}

@media only screen and (max-width: 620px){

    .footerIllustrationDiv{
        flex-direction: column-reverse;
    }

    .footerBodyText3b{
        text-align: center;
    }

    .footerBodyText3{
        text-align: center;
    }

    .footerInfo{
        align-self: center;
    }

    .footerSocials{
        display: none;
    }

    .footerIcons{
        display: flex;
        flex-direction: row;
        align-self: center;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px){

    .footerDesign{
        max-height: none;
    }
}
