
.threeIconsflexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.threeIconsFlexContent{
    display: flex;
    flex-direction: column;
    max-width: 340px;
    align-items: center;
}

.icons{
    max-width: 100%;
    height: auto;
}

.grid2Header{
    font-family: Verdana;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: black;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0px;
}


.grid2BodyText{
    font-family: Verdana;
    font-size: 16px;
    color: #444444;
    text-align: center;
    line-height: 24px;
    margin-top: 16px;
}

.grid2BodyText2{
    font-family: Verdana;
    font-size: 16px;
    color: #444444;
    text-align: center;
    line-height: 24px;
    margin-top: 32px;
}

.grid2BodyText2b{
    font-family: Verdana;
    font-size: 16px;
    color: #444444;
    text-align: center;
    line-height: 24px;
    margin-top: 18px;
}

.pinkButton{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    margin-top:16px;
    cursor: pointer;
    white-space: nowrap;
}

.pinkButton2{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    max-width: 141px;
    margin-top: 40px;
    cursor: pointer;
    white-space: nowrap;
}


.pinkButton2a{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    max-width: 141px;
    margin-top: 64px;
    cursor: pointer;
    white-space: nowrap;
}

.pinkButton2b{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    max-width: 141px;
    margin-top: 16px;
    max-width: 181px;
    cursor: pointer;
    white-space: nowrap;
}


.pinkButton2c{
    background: #E01171;
    border-radius: 4px;
    font-family: Verdana;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    max-width: 141px;
    margin-top: 64px;
    max-width: 181px;
    cursor: pointer;
    white-space: nowrap;
}

@media only screen and (max-width: 639px){
    
    .threeIconsflexbox{
        flex-direction: column;
        margin-bottom: 60px;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
        margin-top: 0;
    }
    .icons{
        max-width: 100px;
        height: auto;
        margin-top: 50px;
    }

    .grid2Header{
        margin-top: 12px;
        font-size: 18px;
        line-height: 18px;
    }

    .pinkButton{
        margin-top: 20px;
    }

    .pinkButton2{
        margin-top: 20px;
    }

    .pinkButton2b{
        margin-top: 20px;
    }

    .line{
        display: none;
    }

    .lineSS{
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
    }

    .pinkButton2{
        margin-top: 20px;
    }

    .pinkButton2a{
        margin-top: 20px;
    }

    .pinkButton2b{
        margin-top: 20px;
    }

    .pinkButton2c{
        margin-top: 20px;
    }

    .threeIconsFlexContent{
        max-width: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 640px){
    
    .threeIconsflexbox{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 60px;
        align-items: center;
    }

    .threeIconsFlexContent{
        max-width: 500px;
    }
    
    .icons{
        max-width: 100px;
        height: auto;
        margin-top: 80px;
    }

    .grid2Header{
        margin-top: 12px;
        font-size: 18px;
    }

    .grid2BodyText{
        margin-bottom: 0px;
    }

    .pinkButton2{
        margin-top: 20px;
    }

    .pinkButton2a{
        margin-top: 20px;
    }

    .pinkButton2b{
        margin-top: 20px;
    }

    .pinkButton2c{
        margin-top: 20px;
    }

}

@media only screen and (max-width: 1120px) and (min-width: 769px){

    .threeIconsflexbox{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 60px;
        align-items: center;
    }
    .threeIconsFlexContent{
        max-width: 500px;
    }
    .icons{
        max-width: 100px;
        height: auto;
        margin-top: 80px;
    }

    .grid2Header{
        margin-top: 12px;
        font-size: 18px;
    }

    .grid2BodyText{
        margin-bottom: 0px;
    }

    .pinkButton2{
        margin-top: 20px;
    }

    .pinkButton2a{
        margin-top: 20px;
    }

    .pinkButton2b{
        margin-top: 20px;
    }

    .pinkButton2c{
        margin-top: 20px;
    }
}


